$backgroundColor: rgba(245, 166, 39, 0.7);

.cardDescription{
    border: 1px dashed black;
    background-color: $backgroundColor;
    margin: 5px;
    padding: 5px;
}

.cardTitle{
    background-color: $backgroundColor;
    margin: 5px;
}

#brand{
    width: 150px;
    height: 75px;
}

.cardImg {
    width: 220px;
    height: 319px;
}

h1{
    text-align: center;
}
